.navy-blue-theme {
  background-color: #002458;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

body{
  font-family: 'Roboto', sans-serif, Arial;
  margin: 100px;
}
header {
  padding:40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  display: inline-block;
  font-size: 40px;
}

header nav{
  font-size: 20px;
  float: right;
  align-content: space-between
}

header nav ul {
  list-style-type: none;

}
header nav ul li {
  display: inline-block;
  margin-left: 20px;
  text-align: justify;
}

li {
  color: whitesmoke;
}

a {
  text-decoration: none;
  
}



h2 {
  font-size: 50px;
}

  .float-right {
    float: right;
    margin-left: 50px;
  }

  .float-left {
    float: left;
    margin-right:50px; 
  }

.about-me {

}

.work{

}
 .contact-me ul li {
  text-align: right;
  list-style-type: none;
}

.contact-me h2 {
  text-align:center;
}



footer {
  padding:0;
  text-align: center;
}
footer h2 {
    font-size:20px
}