.navy-blue-theme {
  background-color: #002458;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}
header {
  padding:100px;
}

header h1 {
  display: inline-block;
  font-size: 40px;
}

header nav{
  font-size: 20px;
  float: right;
  align-content: space-between
}

header nav ul {
  list-style-type: none;

}
header nav ul li {
  display: inline-block;
  margin-left: 20px;
  text-align: justify;
}

li {
  color: whitesmoke;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 50px;
}
.main-content{
  display:inline-block;
  border-style: dashed;
  margin-left: auto;
  margin-right: auto;
}
  .float-right {
    float: right;
    margin-left: 50px;
  }

  .float-left {
    float: left;
    margin-right:50px; 
  }

.about-me-section {

}

.work-section {

}

.contact-me-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}








footer {
  padding:0;
  text-align: center
}
footer h2 {
    font-size:20px
}