/* //styling for whole page */
* {
  margin: 0;
  padding: 0;
}

/*background is blue with roboto font and whitesmoke*/
.navy-blue-theme {
  background-color: #002458;
  color: whitesmoke;
  font-family: 'Roboto', sans-seri, Arial;
  margin: 100px;
}

main {
  display: block;
}

/* Styles for header*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:auto;
  position: sticky;
  z-index: 999;
  padding: 30px 30px 20px 0px;
  top: 0;
  border-bottom: 1px solid white;
  background-color:#002458;
}

header h1 {
  font-size: 35px;
  justify-content: left;
}
/*styling for links*/
header nav a {
  text-decoration: none;
  color: whitesmoke;
  list-style-type: none;
  text-align: center;
  float: right;
  align-content: space-between;
  font-size: 20px;
}

header nav ul li {
  display: inline-block;
  margin-left: 75px;
  text-align: center;
}

header nav ul li a:hover {
    text-shadow: 0 0 20px white;
}

/* styling for main container content */
.container{
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
}

.container-title{
  font-size: 50px;
  width: 20%;
  display: flex;
  flex: initial;
  justify-content: center;
  padding-right: 15px;
  border-right: solid 5px;
  margin: 20px 0;
  text-decoration: none;
  text-shadow: 0 0 10px grey;
  justify-content: flex-start;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}


.container-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left:25px;
}


/* REPLACE WITH FLEXBOX !!!!!!!!!!!!*/

.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 175px);
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.work-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.work-image {
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
}

.snapshot {
  height: 50%;
  width: 50%;
  opacity: 0.4;
  transition: 0.5s;
}

.snapshot:hover{
  opacity:2;
}

.app-description {
  position: absolute;
  width: 100px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  text-align: left;
  background-color: #6389bd;
  color: whitesmoke;
}

.app-description h3 {
  font-family: 'Roboto', sans-seri, Arial;
  font-size: 16px;

}

.app-description p {
  font-family: 'Roboto', sans-seri, Arial;
  font-size: 12px;
}


/* REPLACE WITH FLEXBOX!!!!!!!!!!!!*/

.contact-info a {
  text-decoration: none;
  display: inline-block;
  margin-left: 100px;
  text-align: center;
  padding: 40px 60px;
  transition: all .2s ease-in-out; 
  
}

.contact-info a:hover {
  transform: scale(1.2); 
}


footer {
  padding:0;
  text-align: center;
}


/* For screens other than a computers*/

/* @media screen and (max-width: 992px) {
  header nav {
    width: 100%;
  } */
  /* media screen and (max-width: 1028px)
  .grid-layout {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(4, 100px);
  } */